{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}

    <p>
        <em>Your experiment is completed.</em>
    </p>

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p>Here is your final point total: <strong>{{point_total}}</strong></p>
            <p>Each point is worth: <strong>{{points_to_dollars}}</strong> dollars</p>
            <p>Your participation fee: <strong>${{participation_fee}}</strong></p>
            <br/>
        </div>
    </div>

{% endblock %}

<script>
    // console.log('')
</script>